<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BlueTileToWhiteTile1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,752},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileToWhiteTile10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileToWhiteTile2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,752},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileToWhiteTile3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1128},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileToWhiteTile4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1128},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileToWhiteTile5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1504},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileToWhiteTile6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1504},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileToWhiteTile7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,376},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileToWhiteTile8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,376},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileToWhiteTile9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,2048}</string>
			<key>textureFileName</key>
			<string>BlueTileToWhiteTile.png</string>
			</dict>
		</dict>
</plist>