<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BlueTileTouch1.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,374},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileTouch10.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,0},{247,369}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{247,369}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileTouch11.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,0},{247,371}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{247,371}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileTouch12.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,372},{247,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{247,373}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileTouch2.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,372},{247,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{247,373}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileTouch3.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,0},{247,371}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{247,371}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileTouch4.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,0},{247,369}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{247,369}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileTouch5.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,0},{247,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{247,373}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileTouch6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,376},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileTouch7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileTouch8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,376},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>BlueTileTouch9.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,0},{247,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{247,373}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>BlueTileTouch.png</string>
			</dict>
		</dict>
</plist>