<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>PinkTileTouch1.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,0},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>PinkTileTouch10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>PinkTileTouch11.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,0},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>PinkTileTouch12.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,0},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>PinkTileTouch2.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,0},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>PinkTileTouch3.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,0},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>PinkTileTouch4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>PinkTileTouch5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>PinkTileTouch6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>PinkTileTouch7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>PinkTileTouch8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

			<key>PinkTileTouch9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{247,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,375}}</string>
				<key>sourceSize</key>
				<string>{247,375}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>PinkTileTouch.png</string>
			</dict>
		</dict>
</plist>